@use './mixins' as *;

.root-activities {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  gap: 30px;

  @include media(tablet){
    grid-template-columns: auto auto;
  }

  @include media(mobile){
    grid-template-columns: auto;
    width: 86.67vw;
  }
}

.root-card {
  @include size(256px, 245px);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  padding-top: 46px;
  border-bottom: 16px solid $dark-blue;

  @include media(mobile){
    @include size(100%, 160px);    
    padding-top: 40px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 16px;
    top: -10px;
  }

  &.work {
    background-color: hsl(15, 100%, 70%);
    &::before {
      @include size(79px, 79px);
      background-image: url(/frontend-mentor-io-time-tracking-dashboard/images/icon-work.svg);
    }
  }

  &.play {
    background-color: hsl(195, 74%, 62%);
    &::before {
      @include size(76px, 77px);
      background-image: url(/frontend-mentor-io-time-tracking-dashboard/images/icon-play.svg);
    }
  }

  &.study {
    background-color: hsl(348, 100%, 68%);
    &::before {
      @include size(79px, 79px);
      background-image: url(/frontend-mentor-io-time-tracking-dashboard/images/icon-study.svg);
    }
  }

  &.exercise {
    background-color: hsl(145, 58%, 55%);
    &::before {
      top: 0px;
      @include size(81px, 55px);
      background-image: url(/frontend-mentor-io-time-tracking-dashboard/images/icon-exercise.svg);
    }
  }

  &.social {
    background-color: hsl(264, 64%, 52%);
    &::before {
      @include size(75px, 100px);
      top: -16px;
      background-image: url(/frontend-mentor-io-time-tracking-dashboard/images/icon-social.svg);
    }
  }
  &.self-care {
    background-color: hsl(43, 84%, 65%);
    &::before {
      @include size(67px, 67px);
      background-image: url(/frontend-mentor-io-time-tracking-dashboard/images/icon-self-care.svg);
    }
  }

  &:hover{
    border-bottom: 16px solid #34397B;
    .content{
      background-color: #34397B;
    }
  }

  .content {
    @include size(100%, 210px);
    background-color: $dark-blue;    
    position: relative;
    z-index: 1;
    border-radius: 16px;
    padding: 30px;

    @include media(mobile){
      height: 120px;
    }

    .first-row {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;

      h2 {
        font-size: 18px;
        font-weight: 500;
        color: white;
      }

      button {
        background-color: inherit;
        border: none;
        cursor: pointer;
      }
    }

    .current {
      font-size: 58px;
      font-weight: 300;
      margin-top: 22px;
      color: white;

      @include media(mobile){
        font-size: 32px;
        margin-top: 0px;
      }
    }

    .previous {
      color: $pale-blue;
      margin-top: 6px;

      @include media(mobile){
        margin-top: 0px;
      }
    }

    .data{
      @include media(mobile){
        margin-top: 12px;
        @include size(100%, 40px);
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        
      }
    }
  }
}
